<template>
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	        <ul class="breadcrumb">
	          <li><router-link to="/">Dashboard</router-link></li>
	          <li><router-link to="/author_index">Penulis</router-link></li>
	          <li class="active">Tambah Penulis</li>
	        </ul>
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            <h2 class="panel-title">Tambah Penulis</h2>
	          </div>
	          <div class="panel-body">
	          	<form class="form-horizontal" v-on:submit="submitAuthors">
					<div class="form-group">
				        <label for="name" class="col-md-2 control-label">Nama</label>
				        <div class="col-md-6">
				            <input type="text" class="form-control" v-model="posts.name" required autofocus/>
				            <p class="help-block">
				                <strong></strong>
				            </p>
				        </div>
				    </div>
				    <div class="form-group">
					  <div class="col-md-4 col-md-offset-2">
					    <button class="btn btn-primary">Simpan</button>
					  </div>
					</div>
				</form>
	          </div>
	        </div>
	      </div>
	    </div>
	 </div>
</template>

<script>
export default {
	data:function() {
		return {
			posts: {
				name:'',
			},
			errors: []
		}
	},
	 
	methods:{
		submitAuthors() {
			axios.post('/authors', this.posts)
			.then(response => {
				console.log(response)
				this.$router.push({path:'/author_index'})
				this.posts = response.data
			})
			.catch(e => {
				this.errors.push(e)
			})
		}
	}
}
</script>