<template>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><router-link to="/">Dashboard</router-link></li>
					<li class="active">Penulis</li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Data Penulis</h2>
					</div>
					<div class="panel-body">
						<router-link to="/author_create" class="btn btn-info pull-right" style="margin-bottom: 10px;">Tambah</router-link>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Nama</th>
									<th width="20%">Aksi</th>
								</tr>	
							</thead>
							<tbody>
								<tr v-for="author, index in authors">
								    <td>{{author.name}}</td>
								    <td width="20%">
								    	<router-link :to="{name: 'editAuthor', params:{id:author.id}}" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</router-link>
								    	<button class="btn btn-xs btn-danger" v-on:click="submitAuthorsDelete(author.id, index)"><i class="fa fa-trash"></i> Hapus</button>
								    </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				authors: [],
				errors: []
			}
		}, 
		created() {
			axios.get('/authors')
			.then(response => { 
				this.authors = response.data
			})
			.catch(e => {
				this.errors.push(e)
			})
		},
	    methods:{
			submitAuthorsDelete(id, index) {
				if (confirm("Click 'Ok' to delete.")){
					axios.delete('/authors/' + id)
					.then(response => {
						console.log(response)
						this.authors.splice(index, 1);
					})
					.catch(e => {
						this.errors.push(e)
					})
				}
			}
		}
	}
</script>