<template>
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	        <ul class="breadcrumb">
	          <li><router-link to="/">Dashboard</router-link></li>
	          <li><router-link to="/author_index">Penulis</router-link></li>
	          <li class="active">Tambah Penulis</li>
	        </ul>
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            <h2 class="panel-title">Tambah Penulis</h2>
	          </div>
	          <div class="panel-body">
	          	<form class="form-horizontal" v-on:submit="submitAuthorsEdit">
					<div class="form-group">
				        <label for="name" class="col-md-2 control-label">Nama</label>
				        <div class="col-md-6">
				            <input type="text" class="form-control" v-model="authors.name" required autofocus/>
				            <p class="help-block">
				                <strong></strong>
				            </p>
				        </div>
				    </div>
				    <div class="form-group">
					  <div class="col-md-4 col-md-offset-2">
					    <button class="btn btn-primary">Simpan</button>
					  </div>
					</div>
				</form>
	          </div>
	        </div>
	      </div>
	    </div>
	 </div>
</template>

<script>
	export default {
		data:function() {
			return {
				authors: {
					name:'',
				},
				errors: []
			}
		},
		created() {
		    let id = this.$route.params.id; 
		    axios.get('/authors/' + id + '/edit')
		    .then(response => { 
		      	this.authors = response.data
		    })
		    .catch(e => {
		      	this.errors.push(e)
		    }) 
		},
		methods:{
			submitAuthorsEdit() {
				let id = this.$route.params.id; 
				axios.put('/authors/' + id, this.authors)
				.then(response => {
					console.log(response)
					this.$router.push({path:'/author_index'})
					this.authors = response.data
				})
				.catch(e => {
					this.errors.push(e)
				})
			}
		}
	}
</script>